#section { position: absolute }

#chart {
  position: absolute;
  left: 20px;
  width: 860px;
}

#barchart {
  position: absolute;
  left: 800px;
  top: 150px;
}

#barchart rect {
  stroke: white;
  fill: #a3a3a3;
}


div.tooltip {
  height: 25px;
  position: absolute;
  color: white;
  font-width: bold;
  z-index: 10;
}

input[type="range"]{
   -webkit-appearance:none !important;
   background: gray;
 }

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none !important;
  background: red;
  width: 10px;
  height: 10px;
}


