#chart {
  position: absolute;
  border: 1px solid #000;
  width: 710px;
}

div.tooltip {

  height: 25px;
  position: absolute;
  color: white;
  font-width: bold;
  z-index: 10;
}

input[type="range"]{
   -webkit-appearance:none !important;
   background: gray;
 }

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none !important;
  background: red;
  width: 10px;
  height: 10px;

}

