<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=620">
<title>Dottorati italiani</title>
<link rel="stylesheet" href="css/style.css">

<script type="text/javascript" src="js/vendor/d3/d3.min.js"></script>
<script type="text/javascript" src="js/vendor/d3/d3.layout.min.js"></script>
<script type="text/javascript" src="js/sunburst.js"></script>
<!--script type="text/javascript" src="js/application.js"></script-->

</head>
<body>
<section id="wrapper">
    <header>
      <h1>MIUR dottorati dataviz</h1>
    </header>
     <article>
       <%= yield %>
     </article>
     <footer><p> <a href="http://twitter.com/a_fiore">Andrea</a> Built this</p></footer> 
</section>
</body>
</html>

